<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <nav class="navbar navbar-light bg-light">
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item" routerLinkActive="active"><a routerLink="/start">Greetings</a></li>
            <li class="list-group-item" routerLinkActive="active"><a routerLink="/posts">Posts</a></li>
            <li class="list-group-item" routerLinkActive="active"><a routerLink="/corona">Corona-Stats</a></li>
        </ul>
    </nav>
    
</body>
</html>