<form #form>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Let us greet you</span>
        </div>
        <input [(ngModel)]="username" name="username" type="text" class="form-control" placeholder="Enter you name" aria-label="Username" aria-describedby="basic-addon1">
      </div>
</form>

<div class="container">
    <div class="datetime">
        <p *ngIf="username" class="greeting">Hello, <strong>{{ username }}</strong></p>
        
        <p *ngIf="username" class="date" id="full_date">
            Today is <strong>{{fullDateStamp | date:'MMM dd, yyyy'}}</strong>
        </p>
    </div>
</div>
