.reportGroup {
    margin: 0;
    padding: 0;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(auto, 1fr);
}

.alert {
    border-radius: 0;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.content_container {
    align-self: center;
    width: 30%;
}

.title {
    font-size: 1.8em;
}

.count {
    font-size: 2em;
    text-align: end;
}

.alert p {
    text-align: end;
    font-size: 1.2em;
    font-weight: 200;
}